body {
  padding:0%;
  margin: 0px;

}
h1, p {
  font-family: Lato;
}

.welcome-header {height: 25px;
    border: solid;
    text-align: center;
    background: cornflowerblue;
    color: white;
    margin: auto;
    text-align: center;
    margin: auto;
    padding: 10px;
    }

   .form-input{
      display: block;
   
    margin: 20px;
    }

    .form-name{
      padding-left: 20px;
    color: #3677f6;
    }

    .dash-header{
      text-align: center;
    }

    .dash-add-machine{
      float:right;
      background-color:cornflowerblue;
      color:white
    }